@import "src/css/color";

.button {
    border-radius: 16px;
    border-width: 1px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, serif;
    font-size: 16px;
    line-height: 20px;
    transition: .3s;

    &:hover {
        cursor: pointer;
    }

    &-primary {
        background: $primaryColor;
        color: #ffffff;
        font-style: normal;
        font-weight: bold;

        &:hover {
            background: $primaryColorLight;
        }

        &:active, &:focus {
            background: $primaryColorDark;
        }
    }
}