@import "src/css/color";

.form-group {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    &-tile {
        color: $darkColor;
        font-family: Montserrat, serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 12px;

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
}