@import "src/css/color";

.icon-btn {
  height: 90px;
  border: 2px solid #C1C1C1;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .icon-btn-img {
    margin-bottom: 5px;

    img {
      height: 30px;
      width: auto;
    }
  }
  
  .icon-btn-content {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    color: #5B5B5B;
  }
}